@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merienda:wght@300..900&display=swap');
.parao {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
.body{
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Indie Flower', sans-serif;
  background-color: #FBFBF9;
  color: #080812;
}
a {
  color: inherit;
  text-decoration: none; 
}
a {
  color: #080812;
}

/* Dark Mode */
.dark-mode {
  background-color: #080812;
  color: #FBFBF9;
}

.dark-mode a {
  color: #FBFBF9;
}

.dark-mode button{
  background-color: #080812;
  color: #FBFBF9;
}
.head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name{
  font-size: 2rem;
  margin-left: 5rem; 
}
.name:hover{
  cursor: pointer;
}
.head a{
  transition: color 0.2s ease-in-out;}
.head a:hover{
  color: #421455;
}
.workinfo{
  margin-right: 7rem;
}
.selfinto{
  font-size: 3rem;
  margin-left: 5rem;
  width: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.introd{
  margin-left: 5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-bottom: 0; 
  padding-bottom: 0;
}
.colflex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.updatearrow{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  margin-left: 5rem;
}
.update{
  
  font-size: 1rem;
}
.updatebox{
  font-size: 1rem;
  width: 30%;
  height: fit-content;
  padding: 10px 25px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-left: 5rem;
  transition: transform 0.3s ease-in-out;
  /* box-shadow: thistle 10px; */
}
.worktext{
transition: transform 0.3s ease-in-out;
}
.worktext:hover{
  cursor: pointer;
  text-decoration: underline #421455;
  text-underline-position: below;
}
.infotext{
  transition: transform 0.3s ease-in-out;
  }
.infotext:hover{
    cursor: pointer;
    text-decoration: underline #421455;
    text-underline-position: below;
  }
.updatebox:hover{
  transform: scale(1.05);
}
.updateboxes{
  display: flex;
  justify-content: space-between;
  margin-right: 7rem;
}
.work{
  margin-left: 5rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.swork{
  justify-content: space-between;
  width: 90%;
  height: auto;
}
img{
  width: 100%;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}
img:hover{transform: scale(1.05);}
hr{
  margin-right: 3rem;
  margin-left: 3rem;
}
.darklight{
  margin-left: 7rem;
}
.arrow{
  margin: 0;
  height: 25px;
  width: 25px;
}
.arrowwork{
  display: flex;
  margin-left: 5rem;
  gap: 0.5rem;
  align-items: center;
}
button{
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: #FBFBF9;
}
.foot{
  display: flex;
  justify-content: space-between;
  
}
.contact{
  margin-right: 10rem;
}
.contact a:hover{
  color: #421455;
}

.wi a:hover{
  color:#421455
}
.workheading{
  margin-left: 5rem;
  font-size: 3rem;
}
.super{
  margin-left: 0.5%;
  font-size: 90%;
  vertical-align: super;
}
.spacingbro{
  margin-left: 5rem;
  margin-top: 0px;
}
.myinfo{
  margin-left: 5rem;
  font-size: 3rem;
}
.topm{
  margin-top: 3rem;
}
.top-margin{
  margin-top: 5rem;
}
.objective{
  margin-left: 5rem;
  width: 58%;
  font-size: 1.6rem;
}
.objectcon{
  margin-left: 5rem;
  width: 80%;
  font-size: 1.4rem;
}
.resume{
  margin-left: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.resumebutton{
  border: 1px solid grey;
  padding: 1.5rem 3rem;
  border-radius: 20px;
}
.resumebutton:hover{
  color: rgb(158, 16, 214);
  border: 1px solid rgb(158, 16, 214);
}
.connect{
  margin-top: 7rem;
  margin-left: 5rem;
}
.connectoptions{
  margin-left: 5rem;
  display: flexbox;
  flex-wrap: wrap ;
}
.connecttable{
  width: 25%;
  margin-left: 5rem;
}
.headtable{
  width: 100%;
}
.iconimg{
  height: 30px;
  width: 30px;
}